body {
  background-color: rgba(154, 230, 146, 0.726);
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-evenly;
}

h1 {
  color: white;
}

header {
  display: flex;
  flex-direction: column;
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  background-color: white;
  height: 19px;
  width: 19px;
  border: 0.05px solid whitesmoke;
}

.grid {
  height: 400px;
  width: 191px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#nextGrid {
  height: 76px;
  width: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.placedBlock {
  /* border: solid 0.05px black; */
  /* background-color: purple; */
}

.fallingBlock {
}

.topRow {
  /* background-color: grey; */
}

.bottomRow {
  background-color: darkgrey;
}

.previousGrid {
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
}

.tetriminoI {
  background-color: aqua;
}

.tetriminoO {
  background-color: gold;
}

.tetriminoL {
  background-color: orange;
}

.tetriminoZ {
  background-color: greenyellow;
}

.tetriminoT {
  background-color: magenta;
}

.overflow {
  background-color: grey;
}